.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  padding: 10px 80px;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.card img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease;
}

.card h3 {
  height: 20px;
}

.loading {
  text-align: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
}